@use '../../shared/colors';

@mixin actionBtnHover {
    color: lighten(colors.$main, 20%);
    transform: translateY(-4px);
} 

.book-item-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.book-item-actions__icons {
    width: 30px;
    height:30px;
    margin: 5px 20px 0 0;
    color: colors.$main;
    transition: all .3s linear;
    a {
        color: colors.$main;
        &:hover {
            @include actionBtnHover
    }
    }
    &:hover {
        @include actionBtnHover
}  
}