@use "../../shared/colors";
@use "../../shared/styles";
@use "../../shared/mediaq";

.book-item {
    margin-top: 3rem;
    max-width: 400px;
    @include mediaq.for-desktop-up {
        margin-top: 0rem;
    }
}
.book-item__main {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.book-item__info {
    padding: 20px;
    font-size: 12px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.book-item__info-items {
    margin-top: 20px;
}
.book-item__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}
.book-item__photo {
    background-color: colors.$appbg;
}
