@use '../../shared/colors';
@use '../../shared/styles';


.lend-book-form__main {
    display: grid;
    grid-template-rows: 155px;
    width: 100%;
}
.lend-book-form__info {
    padding: 1rem 2rem;
    border-bottom: styles.$border;
}
.lend-book-form-main__form {
    padding: 1rem 2rem;
}