.search-form-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search-form-button__icon {
    height: 18px;
    width: 18px;
    margin-right: 10px;
}