@use "../colors";
@use "../styles";

.input-element {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    label {
        font-size: 12px;
        padding: 5px;
    }
    input {
        height: 40px;
        border: styles.$border;
        outline: none;
        padding: 0 10px;
    }
    textarea {
        border: styles.$border;
        resize: vertical;
        outline: none;
    }
    p {
        color: colors.$danger;
        font-size: 10px;
    }
}
