.backdrop {
    z-index: 3;
    position: absolute;
    top: 80px;
    left:0;
    width: 100%;
    height: calc(100% - 80px);
    background-color: rgba($color: #6F4129, $alpha: .7);
    animation: appear-backdrop .5s ease-out forwards;
}
@keyframes appear-backdrop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}