@use './colors';
@use './mediaq';
@use './styles';

.modal_bg {
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    z-index: 60;
    @include mediaq.for-tablet-desktop-up {
        top: calc(50% - 200px);
        left: calc(50% - 200px);
    }
}
.modal {
    background-color: colors.$bg;
    border: 3px solid colors.$main;
    border-radius: 30px 0 30px 0;
    width: 300px;
    @include mediaq.for-tablet-desktop-up {
        width: 400px;
    }
}
.modal_title { 
    text-align: center;
    text-transform: capitalize;
    font-size: 24px;
    padding: 20px;
    color: colors.$error
}
.modal_content {
    border-top: 3px solid colors.$main;
    border-left: 1.5px solid colors.$main;
    border-radius: 30px 0;
    padding: 2rem; 
}
.modal_footer {
    border-top: 3px solid colors.$main;
    padding: 10px; 
}
.modal_footer--error { 
    background-color: rgba($color: colors.$danger, $alpha: .5);
    border-radius: 0 0 20px 0;
}
.modal_title--error{
    background-color: rgba($color: colors.$danger, $alpha: .5);
    border-radius: 20px 0 0px 0;
}
.modal_content--error{
    color: colors.$error;
    border-radius: 0px 0 0px 0;
}