@use './colors';
@use './mediaq';

.modal_bg {
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    z-index: 60;
    @include mediaq.for-tablet-desktop-up {
        top: calc(50% - 200px);
        left: calc(50% - 200px);
    }
}
.modal {
    background-color: colors.$bg;
    border: 3px solid colors.$main;
    border-radius: 30px 0 30px 0;
    width: 300px;
    @include mediaq.for-tablet-desktop-up {
        width: 400px;
    }
}
.modal_title { 
    text-align: center;
    text-transform: capitalize;
    font-size: 24px;
    padding: 20px;
    color: colors.$danger
}
.modal_content {
    border-top: 3px solid colors.$main;
    border-left: 1.5px solid colors.$main;
    border-radius: 30px 0;
    padding: 2rem; 
}
.modal_footer {
    border-top: 3px solid colors.$main;
    padding: 10px; 
}
.error {
    color: colors.$danger;
    background-color: colors.$danger;
}