@use './styles';
@use'./colors';

.my-library-button {
    @include styles.buttonBase(colors.$main, styles.$border, colors.$bg);
    width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all .4s ease-in;
}
.my-library-button--active {
    @include styles.buttonBase(colors.$bg, styles.$border,colors.$main)
}
.button-content {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.button-content__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}