@use "../shared/colors";
@use "../shared/styles";

.footer {
    align-self: flex-end;
    padding: 10px 0;
    width: 100%;
    border-top: styles.$border;
    color: colors.$main;
    font-size: xx-small;
    text-align: center;
    background: colors.$appbg;
}