@use '../shared/colors';
@use '../shared/mediaq';

.page-not-found {
    color: colors.$main;
    @include mediaq.for-tablet-desktop-up {
        width: 40%;
    }
    @include mediaq.for-tablet-desktop-up {
        width: 25%;
    }
    img {
        width: 100%;
    }
    p {
        margin: 20px 0 0 0;
    }
}
.page-not-found__info {
    margin: 0 60px;
}