@use '../../shared/styles';
@use '../../shared/colors';
@use '../../shared/mediaq';

.welcome {
    width: 100%;
    img {
        width: 100%;
    }
    @include mediaq.for-tablet-desktop-up {
        width: 30rem;
        margin: auto;
    }  
}
.welcome__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.welcome__picture {
    @include mediaq.for-tablet-desktop-up {
       width: 14rem;
       margin-top: -6rem;
       margin-left: calc(50% - 7rem);
    }
}

//picture animation
#blobBrown {
    animation: bumpingBlobs 4s linear alternate infinite;
}
#blobGreen {
    animation: bumpingBlobs 4s 2s linear alternate infinite;
}
#blobBlue {
    animation: bumpingBlobs 4s linear alternate infinite;
}
#blobBig {
    animation: bumpingBlobs 8s linear alternate infinite;
}
#steam1 {
    animation: scaleElement 2s linear alternate infinite;
}
#steam2 {
    animation: scaleElement 2s linear alternate infinite;
}
#steam3 {
    animation: scaleElement 2s linear alternate infinite;
}
#lamp {
    animation: rotateElement 4s linear alternate infinite;
}
#lamp2 {
    animation: rotateElement 4s linear alternate infinite;
}

@keyframes bumpingBlobs {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-15px)
    }
    100% {
        transform: none;
    }
}
@keyframes scaleElement {
    0% {
        transform: none;
    }
    50% {
        transform: scaleY(.95)
    }
    100% {
        transform: none;
    }    
}
@keyframes rotateElement {
    0% {
        transform: none;
    }
    50% {
        transform:rotate(-1deg)
      
    }
    100% {
        transform: none;
    } 
}
