@use '../../shared/styles';
@use '../../shared/colors';
@use '../../shared/mediaq';

.welcome {
    position: relative;
    width: 100%;
    img {
        width: 100%;
    }
    @include mediaq.for-tablet-desktop-up {
        width: 70%;
    }
    @include mediaq.for-desktop-up {
        width: 40%;
        img {
            width: 80%;
            margin: 0 10% ;
        }
    }  
}
.welcome__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -6rem;
    @include mediaq.for-desktop-up {
        flex-direction: row;
        align-items: flex-end;
        margin-top: -4rem;
    }  
}
.welcome__picture {
    @include mediaq.for-tablet-desktop-up {
        width: 24rem;
        margin-left: calc(50% - 12rem);
    }
    @include mediaq.for-desktop-up {
        order: 2;
        width: 38rem;
       
    }  
}
.welcome__text {
    @include mediaq.for-desktop-up {
        order: 1
    }  
}

//picture animation
#blobBrown {
    animation: bumpingBlobs 4s linear alternate infinite;
}
#blobGreen {
    animation: bumpingBlobs 4s 2s linear alternate infinite;
}
#blobBlue {
    animation: bumpingBlobs 4s linear alternate infinite;
}
#blobBig {
    animation: bumpingBlobs 8s linear alternate infinite;
}
#steam1 {
    animation: scaleElement 2s linear alternate infinite;
}
#steam2 {
    animation: scaleElement 2s linear alternate infinite;
}
#steam3 {
    animation: scaleElement 2s linear alternate infinite;
}
#lamp {
    animation: rotateElement 4s linear alternate infinite;
}
#lamp2 {
    animation: rotateElement 4s linear alternate infinite;
}

@keyframes bumpingBlobs {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-15px)
    }
    100% {
        transform: none;
    }
}
@keyframes scaleElement {
    0% {
        transform: none;
    }
    50% {
        transform: scaleY(.95)
    }
    100% {
        transform: none;
    }    
}
@keyframes rotateElement {
    0% {
        transform: none;
    }
    50% {
        transform:rotate(-1deg)
      
    }
    100% {
        transform: none;
    } 
}
